<h1>RegAdmin</h1>

<% form_for(@admin) do |f| %>
	<%= render 'shared/error_messages_admin' %>	

	<%= hidden_field_tag 'admin[name]', current_user.name%>
	<%= hidden_field_tag 'admin[email]', current_user.email %>
	
	<div class="field">
		<%= f.label :password %></br>
		<%= f.password_field :password %>
	</div>
	<div class="actions">
		<%= f.submit "RegAdmin" %>
	</div>
<% end %>
