<h1>Tag Badge</h1>

<%= form_for(@badge) do |f| %>
	<%= render 'shared/error_messages_badge', :object => f.object %>
	<div class="field">
		<%= f.label :tags %>
		<%= f.text_field :tags %>
	</div>		
	<div class="actions">
		<%= f.submit "tag_add" %>
	</div>
<% end %>